<!-- login.html -->
{% extends "baseLogin.html" %}

{% block title %}Inicio de Sesión - Torremolinos Sport{% endblock %}

{% block cuerpo %}
<div class="container mt-4">
    <h2>Iniciar Sesión</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <p>No tienes una cuenta? <a href="{% url 'TsDeportes:signup' %}">Regístrate aquí</a></p>
</div>
{% endblock %}